/* css rereset a style */

.breadcrumb{
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #000;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.breadcrumb:hover{
    border-bottom: 1px solid rgb(2, 112, 0);
    color:rgb(2, 112, 0);
}